<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{app.title}">Surfyn</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/core.css}"/>
    <script src="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script src="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<form class="form-narrow form-horizontal" action="#" method="post" th:action="@{/forgot}">
    <div class="container">
            <img class="logo" th:src="@{/images/logo.svg}"/>

            <th:block>
                <div th:if="${param.message != null}" class="alert alert-info" th:text="${param.message[0]}">message</div>
            </th:block>
            <fieldset>
                <legend th:text="#{message.resetPassword}">reset</legend>
               <div class="form-group">
                    <label>Email</label>
                    <div>
                        <input class="form-control" id="email" name="email" placeholder="Email" type="email" value="" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" th:text="#{message.resetPassword}">reset</button>
                </div>
            </fieldset>
    </div>
</form>
<br/> <br/>
<div th:insert="~{fragments/footer :: footer}">&copy; 2019 Surfyn</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script th:inline="javascript">
var serverContext = [[@{/}]];
$(document).ready(function () {
	$('form').submit(function(event) {
		resetPass(event);
    });
});
function resetPass(event){
    event.preventDefault();
    var email = $("#email").val();
    $.post(serverContext + "user/resetPassword",{email: email} ,function(data){
            window.location.href = serverContext + "forgot?message=" + data.message;
    })
    .fail(function(data) {
    	if(data.responseJSON.error.indexOf("MailError") > -1)
        {
            window.location.href = serverContext + "emailError.html";
        }
        else{
            window.location.href = serverContext + "signin?message=" + data.responseJSON.message;
        }
    });
}
$(document).ajaxStart(function() {
    $("title").html("LOADING ...");
});
</script>
</body>

</html>