<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Error page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/core.css}"/>
    <script src="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script src="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div th:replace="fragments/alert :: alert (type='danger', message=${errorMessage})">Error: Error</div>
    <div th:include="fragments/footer :: footer">&copy; 2017 The Static Templates</div>
</div>
</body>
</html>