.sf_modal_box_width
{
  width: 65%;
}
.sf_modal_title_box
{
  text-align:center;margin-bottom:20px;
}
.sf_modal_title_text
{
  color:#61AEB5!important;font-weight:bold;font-size:20px;
}
.sf_modal_frame
{
  display:flex;
  width:100%;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  background-color:white;
  border-radius:8px;
}
.sf_modal_input
{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
.sf_modal_connect_button
{
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  background-color:#4C8E99;
  height:35px;
  border-radius:8px;
  margin-bottom:15px;
  cursor:pointer;
}
.sf_modal_connect_button_text
{
  color:white !important;font-size:20px;
}
.sf_modal_inscription_frame_link
{
  display:flex;justify-content:center;align-items:center;flex-direction:column;height:65px;
}
.sf_modal_login_separation
{
  border-bottom:1px solid #4C8E99;
  line-height:0.1em;
  margin:30px 0;text-align:center;
}
.sf_modal_line_separation
{
  color: #4C8E99;padding:0 8px;background-color:white;font-weight:bold;font-size:14px;
}
.sf_modal_login_foreign_auth_frame
{
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  height:35px;
  border-radius:8px;
  margin-bottom:15px;
}
.sf_modal_login_foreign_auth_box
{
  display:flex;
  justify-content: center;
  align-items:center;
  border:1px solid #4C8E99;
  text-align:center;
  width:100%;
  height:35px;
  flex-direction:row;
  margin-left:5px;
  border-radius:8px;
  cursor:pointer;
}
.sf_modal_login_foreign_auth_text
{
  margin-left:10px;
  color:#61AEB5 !important;
  font-weight:bold;
}

.sf_login_connected_icon
{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:green;
  border-radius:16px;
  width:100%;height:100%;
  text-align:center;
}
.sf_user_display_name
{
  color:white !important;
  font-size:20px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.sf_login_menu_content
{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 180px;
  z-index: 2;
  border: 2px solid #bfe5f5;
}
.sf_login_menu_content a {
  color: #61AEB5;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}
.sf_login_menu_content a:hover
{
  background-color:rgb(245, 247, 250);
}
.sf_show_login_menu_content
{
  display:block;
}

@media (max-width:1024px) {
.sf_modal_box_width
{
  width: 85%;
}
}
