.home_logo
{
height:500px;
margin-top:-50px;
margin-bottom:-50px;
}

.search_type_button
{
  border: 2px solid #4C8E99;
  border-radius:6px;
  text-decoration:none;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 25px;
}
a:hover{ text-decoration: none; }

.buy_background
{
  background-color:#4C8E99;
}
.rent_background
{
  background-color:#61AEB5;
}

.sf_search_block
{
  width :500px;
  height: 140px;
  padding-top:10px;
  background-image:url('map.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:left;
}

.sf_input_block
{
  margin : 0 auto;
  width:260px;
  margin-top:20px;
}

.sf_search_icon
{
  position:absolute;
  padding: 10px;
  pointers-events:none;
}

.sf_line
{
  height:22px;
  background-color:#F2F2F2;
}

.sf_range_slider
{
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction:row;
  width:100%;
  height:75px;
}

.sf_range_slider_input
{
  height:50px;
  border-radius:50%;
  border:solid 5px #61AEB5;
  flex-grow:0;
  z-index:2;
  background:white;
  display:flex;
  justify-content:center;
  align-items:center;
}
.sf_range_slider_track
{
  background:#61AEB5;
  height:20px;
  border:solid 1px #61AEB5;
  flex-grow:0;
  z-index:1;
}
.sf_slider_min
{
  /* transform: translateX(10px); */
  position: absolute;
  left:5%;
  width:7%;
}
.sf_slider_track_width
{
  width:80%;
}
.sf_slider_max
{
  width:7%;
  /* transform: translateX(-10px); */
  position : absolute;
  right: 5%;
}
@media (max-width:1024px) {
  .sf_slider_min
  {
    transform: translateX(10px);
    width:20%;
  }
  .sf_slider_track_width
  {
    width:60%;
  }
  .sf_slider_max
  {
    transform: translateX(-10px);
    width:20%;
  }
}
.sf_slider_annotation
{
  width:100%;
  height:20px;
  margin-top:30px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.sf_slider_label
{
  display:flex;
  align-items:center;
  justify-content:center;
}

.no_select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
