.home_logo
{
height:500px;
margin-top:-50px;
margin-bottom:-50px;
}

.search_type_button
{
height:200px;
width:10%;
border-radius:8px;
}
a:hover{ text-decoration: none; }
.search_type_header
{
  display:flex;
  justify-content: center;
  align-items: center;
  height:130px;
  width: 100%;
}
.search_type_icon
{
  height:120px;
  width:70%;
  border-radius:98%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  display:flex;
  align-items:center;
  justify-content:center;
}
.buy_icon
{
  background-image:url('home_buy.svg');
}
.rent_icon
{
  background-image:url('home_rent.svg');
}
.search_type_footer
{
  height:70px;
  width: 100%;
  text-align:center;
}
.search_type_text
{
  font-size:25px;
  font-weight:bold;
}

.buy_settings
{
  background-color:#4C8E99;
}
.rent_settings
{
  /*background-color:#61AEB5;*/
  background-color:#4C8E99;
  margin-left:100px;
}

.sf_search_block
{
  width :500px;
  height: 140px;
  padding-top:10px;
  background-image:url('map.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:left;
}

.sf_input_block
{
  margin : 0 auto;
  width:260px;
  margin-top:20px;
}

.sf_search_icon
{
  position:absolute;
  padding: 10px;
  pointers-events:none;
}

.sf_line
{
  height:22px;
  background-color:#F2F2F2;
}

.sf_line_results
{
  height:10px;
  background-color:#4C8E99;
}
.sf_range_slider
{
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction:row;
  width:100%;
  height:75px;
}

.sf_range_slider_input
{
  height:75px;
  border-radius:98%;
  border:solid 5px #61AEB5;
  flex-grow:0;
  z-index:2;
  background:white;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
}
.sf_range_slider_track
{
  background:#61AEB5;
  height:20px;
  border:solid 1px #61AEB5;
  flex-grow:0;
  z-index:1;
}
.sf_slider_min
{
  /* transform: translateX(10px); */
  position: absolute;
  left:5%;
  width:5%;
}
.sf_slider_track_width
{
  width:85%;
}
.sf_slider_max
{
  width:5%;
  /* transform: translateX(-10px); */
  position : absolute;
  right: 5%;
}
.icon_arrow_left
{
  font-size: 30px;
}
.header_title
{
  font-size:30px;
}

.sf_slider_annotation
{
  width:100%;
  height:20px;
  margin-top:30px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.sf_slider_label
{
  display:flex;
  align-items:center;
  justify-content:center;
}

.no_select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.property_type_box
{
  width:15%;
  height:120px;
  border-radius:6px;
  display: flex;
  transform:scale(0.85);
  flex-direction:column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap:wrap;
  background-color:#bfe5f5;
  cursor:pointer;
}
.property_type_icon_box
{
  width:100%;
  height: 70px;
  align-self: center;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
}
.property_type_icon
{
  align-self: center;
  font-size: 50px !important;
  color:#222545;
}
.property_type_text_box
{
  width:100%;
  height: 30px;
  align-self: center;
  text-align: center;
}
.property_type_text
{
  font-weight:bold;
  font-size:20px;
}
/* results page styles */
.announce_frame
{
  height: 200px;
}
.announce_container
{
display:flex;
align-items:center;
justify-content: center;
flex-direction:row;
height:200px;
width:100%;
}

.announce_image_container
{
  height:185px;
  width:15%;
  border-radius:8px;
}

.announce_image
{
  border-radius:8px;
  max-height:100%;
  max-width:100%;
}
.announce_summary_container
{
  height:190px;
  width:30%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: space-evenly;
  margin-left:20px;
}
.announce_summary_desc
{
  height:63px;
  width:100%;
  padding-top:10px;
}
.announce_summary_desc_logo
{
  height:63px;
  width:100%;
}
.announce_summary_details
{
  color:#787878;
  font-size: 16px;
  float:left;
}
.announce_summary_refresh_time
{
  color:#bdbdbd;
  margin-right:5px;
  font-size: 16px;
  float: right;
}
.announce_summary_icon
{
  font-size: 30px;
  color:#4c94bc;
  float:left;
}
.announce_summary_city
{
  margin-left:10px;
  float:left;
  color:#4c94bc
}
.announce_source
{
  position:relative;
  height:100%;
  width:100%;
}
.announce_source_container
{
  position:absolute;
  height:100%;
  width:15%;
  border-radius:90%;
}
.announce_source_logo
{
  border-radius:90%;
  max-height:100%;
  max-width:100%;
  border:solid 3px white;
  background-color: white;
}

.det_container
{
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction:row;
  width:100%;
  padding-top:10px;
  padding-bottom:10px;
  background-color:#83CED6;
}
.det_ad_container
{
  height:500px;
  width:15%;
  background-color:#FFFFFF;
  box-shadow: 3px 3px #aaaaaa;
}
.det_ad_image_container
{
  height:200px;
  width:100%;
  display:flex;
  justify-content:space-evenly;
}
.det_ad_image_frame
{
  height:185px;
  border-radius:5px;
  width:90%;
  margin-top:10px;
  display:flex;
  position:relative;
}
.det_ad_image
{
  max-height:100%;
  max-width:100%;
  border-radius:5px;
}
.det_ad_image_icon_container
{
  align-self: flex-end;
  position:absolute;
  right:5px;
}
.det_ad_image_icon
{
  color:white;
  align-self: flex-end;
  margin-left: 4px;
}
.det_ad_desc_container
{
  height:223px;
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  flex-wrap:wrap;
  padding-top:2px;
}
.det_ad_desc_shape
{
  height:70px;
  width:30%;
  border-radius:5px;
}
.det_ad_desc_border
{
  border:3px solid #4C8E99;
}
.det_ad_desc_center
{
  display:flex;
  align-items:center;
  justify-content: center;
}
.det_ad_logo_container
{
  height:75px;
  width:100%;
  position:relative;
}
.det_ad_logo_frame
{
  position:absolute;
  height:100%;
  width:100%;
}
.det_ad_logo
{
  max-height:100%;
  max-width:100%;
  display:block;
  margin : 0 auto;
}
.header_title_left_box
{
  width: 30%;
}
.header_title_center_box
{
  width: 30%;
}

.header_title_right_box
{
  width: 30%;
}
.det_header_title
{
  font-size:20px;
}

@media (max-width:1024px) {
  .sf_slider_min
  {
    /*transform: translateX(10px);
    width:20%;*/
    position: absolute;
    left:5%;
    width:20%;
  }
  .sf_slider_track_width
  {
    /*width:80%;*/
    width:85%;
  }
  .sf_slider_max
  {
    /*transform: translateX(-10px);
    width:20%;*/
    width:20%;
    /* transform: translateX(-10px); */
    position : absolute;
    right: 5%;
  }

  .header_title
  {
    font-size:25px;
  }
  .icon_arrow_left
  {
    font-size: 25px;
  }
  .property_type_box
  {
    width:22%;
    height:120px;
    border-radius:6px;
    display: flex;
    transform:scale(0.85);
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap:wrap;
    background-color:#bfe5f5;
    cursor:pointer;
  }
  .property_type_text
  {
    font-weight:bold;
    font-size:20px;
  }
  .header_title_left_box
  {
    width: 20%;
  }
  .header_title_center_box
  {
    width: 50%;
  }

  .header_title_right_box
  {
    width: 20%;
  }

  .announce_frame
  {
    height: 160px;
  }
  .announce_container
  {
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction:row;
  height:160px;
  width:100%;
  }
  .announce_image_container
  {
    height:150px;
    width:45%;
    border-radius:8px;
    display:flex;
  }
  .announce_summary_container
  {
    height:150px;
    width:50%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-evenly;
    margin-left:10px;
  }
  .announce_summary_details
  {
    color:#787878;
    font-size: 14px;
    float:left;
  }
  .announce_summary_refresh_time
  {
    color:#bdbdbd;
    margin-right:5px;
    font-size: 14px;
    float: right;
  }
  .det_header_title
  {
    font-size:13px;
  }
  .det_ad_container
  {
    height:425px;
    width:50%;
    background-color:#FFFFFF;
    box-shadow: 3px 3px #aaaaaa;
  }
  .announce_summary_desc
  {
    height:50px;
    width:100%;
    padding-top:10px;
  }
  .announce_summary_desc_logo
  {
    height:50px;
    width:100%;
  }
  .announce_summary_icon
  {
    font-size: 20px;
    color:#4c94bc;
    float:left;
  }
  .det_ad_image_container
  {
    height:165px;
    width:100%;
    display:flex;
    justify-content:space-evenly;
  }
  .det_ad_image_frame
  {
    height:150px;
    border-radius:5px;
    width:90%;
    margin-top:10px;
    display:flex;
    position:relative;
  }
  .det_ad_desc_container
  {
    height:185px;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    flex-wrap:wrap;
    padding-top:2px;
  }
  .det_ad_logo_container
  {
    height:70px;
    width:100%;
    position:relative;
  }
  .det_ad_desc_border
  {
    border:1px solid #4C8E99;
  }
  .det_ad_desc_shape
  {
    height:70px;
    width:32%;
    border-radius:5px;
  }
  .search_type_button
  {
    height:200px;
    width:40%;
    border-radius:8px;
  }

  .rent_settings
  {
    /*background-color:#61AEB5;*/
    background-color:#4C8E99;
    margin-left:30px;
  }
} /* end of @media (max-width:1024px)  */
