.home_logo
{
height:500px;
margin-top:-50px;
margin-bottom:-50px;
}

.search_type_button
{
  border: 2px solid #4C8E99;
  border-radius:6px;
  text-decoration:none;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 25px;
}
a:hover{ text-decoration: none; }

.buy_background
{
  background-color:#4C8E99;
}
.rent_background
{
  background-color:#61AEB5;
}

.sf_search_block
{
  width :500px;
  height: 140px;
  padding-top:10px;
  background-image:url('map.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:left;
}

.sf_input_block
{
  margin : 0 auto;
  width:260px;
  margin-top:20px;
}

.sf_search_icon
{
  position:absolute;
  padding: 10px;
  pointers-events:none;
}

.sf_line
{
  height:22px;
  background-color:#F2F2F2;
}

.sf_line_results
{
  height:10px;
  background-color:#4C8E99;
}
.sf_range_slider
{
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction:row;
  width:100%;
  height:75px;
}

.sf_range_slider_input
{
  height:50px;
  border-radius:50%;
  border:solid 5px #61AEB5;
  flex-grow:0;
  z-index:2;
  background:white;
  display:flex;
  justify-content:center;
  align-items:center;
}
.sf_range_slider_track
{
  background:#61AEB5;
  height:20px;
  border:solid 1px #61AEB5;
  flex-grow:0;
  z-index:1;
}
.sf_slider_min
{
  /* transform: translateX(10px); */
  position: absolute;
  left:5%;
  width:7%;
}
.sf_slider_track_width
{
  width:80%;
}
.sf_slider_max
{
  width:7%;
  /* transform: translateX(-10px); */
  position : absolute;
  right: 5%;
}
@media (max-width:1024px) {
  .sf_slider_min
  {
    transform: translateX(10px);
    width:20%;
  }
  .sf_slider_track_width
  {
    width:60%;
  }
  .sf_slider_max
  {
    transform: translateX(-10px);
    width:20%;
  }
}
.sf_slider_annotation
{
  width:100%;
  height:20px;
  margin-top:30px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.sf_slider_label
{
  display:flex;
  align-items:center;
  justify-content:center;
}

.no_select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* results page styles */
.announce_container
{
display:flex;
align-items:center;
justify-content: center;
flex-direction:row;
height:200px;
width:100%;
}

.announce_image_container
{
  height:185px;
  width:15%;
  border-radius:8px;
}

.announce_image
{
  border-radius:8px;
  max-height:100%;
  max-width:100%;
}
.announce_summary_container
{
  height:190px;
  width:30%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: space-evenly;
  margin-left:20px;
}
.announce_summary_desc
{
  height:63px;
  width:100%;
  padding-top:10px;
}
.announce_summary_details
{
  color:#787878;
  font-size: 16px;
  float:left;
}
.announce_summary_refresh_time
{
  color:#bdbdbd;
  margin-right:5px;
  font-size: 16px;
  float: right;
}
.announce_summary_icon
{
  font-size: 30px !important;
  color:#4c94bc;
  float:left;
}
.announce_summary_city
{
  margin-left:10px;
  float:left;
  color:#4c94bc
}
.announce_source
{
  position:relative;
  height:100%;
  width:100%;
}
.announce_source_container
{
  position:absolute;
  height:100%;
  width:15%;
  border-radius:90%;
}
.announce_source_logo
{
  border-radius:90%;
  max-height:100%;
  max-width:100%;
  border:solid 3px white;
  background-color: white;
}

.det_container
{
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction:row;
  width:100%;
  padding-top:10px;
  padding-bottom:10px;
  background-color:#83CED6;
}
.det_ad_container
{
  height:500px;
  width:15%;
  background-color:#FFFFFF;
  box-shadow: 3px 3px #aaaaaa;
}
.det_ad_image_container
{
  height:200px;
  width:100%;
  display:flex;
  justify-content:space-evenly;
}
.det_ad_image_frame
{
  height:185px;
  border-radius:5px;
  width:90%;
  margin-top:10px;
  display:flex;
  position:relative;
}
.det_ad_image
{
  max-height:100%;
  max-width:100%;
  border-radius:5px;
}
.det_ad_image_icon_container
{
  align-self: flex-end;
  position:absolute;
  right:5px;
}
.det_ad_image_icon
{
  color:white;
  align-self: flex-end;
  margin-left: 4px;
}
.det_ad_desc_container
{
  height:223px;
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  flex-wrap:wrap;
  padding-top:2px;
}
.det_ad_desc_shape
{
  height:70px;
  width:30%;
  border-radius:5px;
}
.det_ad_desc_border
{
  border:3px solid #4C8E99;
}
.det_ad_desc_center
{
  display:flex;
  align-items:center;
  justify-content: center;
}
.det_ad_logo_container
{
  height:75px;
  width:100%;
  position:relative;
}
.det_ad_logo_frame
{
  position:absolute;
  height:100%;
  width:100%;
}
.det_ad_logo
{
  max-height:100%;
  max-width:100%;
  display:block;
  margin : 0 auto;
}
